@media(max-width:1199px){
    .left-info h6 {
        background: #E91E63;
        padding: 25px;
        width: 80%;
        margin: auto;
        text-align: center;
        font-size: 16px;
    }
    .member-info i{
        margin-left: 5px;
    }
}
@media(max-width:991px){
    .hero-part h1 {
        font-size: 50px;
        font-weight: 800;
        background: -webkit-linear-gradient(#ffc08a, #E91E63);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 100px;
        font-family: 'Russo One',sans-serif !important;
    }
    header{
        min-height: 0px;
    }
    .heading p {
        color: #C393CB;
        font-size: 12px;
    }
    .do h3 {
        font-weight: 600;
        color: #FF377B;
        margin: 15px 0px;
        font-size: 20px;
    }
    .about-us h5 {
        color: whitesmoke;
        font-weight: 300;
        margin: 0px;
    }
    .heading h2 {
        color: #FF377B;
        font-weight: 600;
        font-size: 25px;
    }
    .left-info h6 {
        background: #E91E63;
        padding: 25px;
        width: 80%;
        margin: auto;
        text-align: center;
        font-size: 12px;
    }
    .users:hover p {
        display: inherit;
        transition: .8s all ease-in-out;
        color: white;
        font-size: 12px;
    }
    .member-info h4 {
        color: #E91E63;
        font-weight: 600;
        font-size: 20px;
    }
    .member-info p {
        color: #E91E63;
        font-style: italic;
        font-size: 12px;
    }
    .member-info i {
        font-size: 20px;
        border: 1px solid #E91E63;
        color: #FF377B;
        height: 30px;
        width: 30px;
        line-height: 30px;
        text-align: center;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .left-price h3 {
        color: #E91E63;
        font-weight: 600;
        font-size: 18px;
    }
    .left-price h6 {
        color: #C393CB;
        font-size: 14px;
        padding: 0px;
        margin: 0px;
    }
    .right-price h1 {
        color: #C393CB;
        font-weight: 800;
        font-size: 25px;
    }
    .price-info {
        border: 3px solid #E91E63;
        padding: 10px;
        background: whitesmoke;
    }
    .top {
        padding: 5px 0px;
    }
    .top h4 {
        color: #E91E63;
        font-size: 18px;
    }

}
@media(max-width:767px){
    
}
@media(max-width:575px){

}
@media(max-width:425px){
    .hero-part h1 {
        font-size: 50px;
        font-weight: 800;
        background: -webkit-linear-gradient(#ffc08a, #E91E63);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 15px;
        font-family: 'Russo One',sans-serif !important;
    }
    .btn-book {
        background: transparent;
        color: #FF377B;
        border: none;
        border: 2px solid #FF377B;
        padding: 5px 5px;
    }
    .hero-part h4 {
        color: #FF377B;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 13px;
        font-size: 18px;
    }
}
@media(max-width:320px){
    .right-info p {
        color: #C393CB;
        padding: 0;
        margin: 0;
        font-size: 12px;
    }
}